#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-image: url('./assets/bg-pattern.jpg');
  background-size: 200px;
  background-repeat: repeat;
}

.container {
  border-radius: 1rem;
  padding: 1.5rem;
  background: moccasin;
}

.container-mobile {
  border-radius: 1rem;
  padding-top: 1.5rem;
  background: moccasin;
}

:is(.container, .container-mobile) > img:first-child {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.container__card {
  border-radius: .5rem !important;
  position: relative;
  padding: 0;
}

.container__card * span {
  font-size: 1.5rem;
  font-weight: 700;
}

.container__card * span:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 400;
}

.card__content {
  padding: 1rem .7rem 0 .7rem !important;
}

.dog-header {
  margin-top: 0;
}

.dog-distance {
  margin-top: .1rem;
  color: dimgray;
}
